body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.list-details {
    margin-bottom: 30px;
}

.diagramas {
    height: 130px;
}

.diagramas .img-responsive {
    display: block;
    width: auto;
    max-height: 100%;
}

.algaelist-title h3 {
    background-color: white;
    border-bottom: 1px solid white;
    border-color: white;
    border-radius: 0 10px 10px 0;
    font-size: 20px;
    margin-left: 15px;
    margin-top: -15px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-top: 10px;
}

.full-screen {
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
}

.modal-dialog img {
    text-align:center;
    margin:0 auto;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 10px;
    /* background-color: #f5f5f5; */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.close-brn {
    width: 22px;
    height: 22px;
}